<%= render './partials/header' %>
<div class='container'>
  <%= render './partials/messages' %>
  <%= render './partials/information_rule', step: @step %>
  <div>
    <h3 class="form-title">
      <%= t('.title') %>
    </h3>
    <hr>
  </div>
  <div class='row'>
    <div class='col-lg-6 col-lg-offset-2 col-md-6 col-md-offset-2 col-sm-6 col-sm-offset-2 col-xs-12'>
      <%= form_tag controller: 'checkout', action: 'school_data', method: 'post' do %>
      <div>
        <h4 class="form-subtitle">
          <%= t('.subtitle.students_transported') %>
        </h4>
      </div>
      <div>
        <p class="form_labels"><%= t('.labels.student_quantity') %></p>
        <%= text_field_tag 'students_transported',
            nil,
            class: 'form-control short-fields',
            required: true,
            id: 'students_transported' %>
        <br>
      </div>
      <div>
        <h4 class="form-subtitle">
          <%= t('.subtitle.seller_data') %>
        </h4>
      </div>
        <div>
          <p class="form_labels"><%= t('.labels.seller_id') %></p>
          <div id="seller_cpf_loader">
            <%= image_tag 'loader.gif', class: 'hidden-loader', id: 'seller_loader_image' %>
          </div>
          <div id="seller_message">
            <span id="seller_not_found" class="hidden-messages error-message">
              <%= t('messages.errors.seller_not_found') %>
            </span>
          </div>
          <%= text_field_tag 'seller_id',
              nil,
              class: 'form-control short-fields',
              required: true,
              id: 'seller_id' %>
          <br>
        </div>
        <p class="form_labels"><%= t('.labels.seller_name') %></p>
        <input type="text" id="seller_name" name="" value="" class="form-control" disabled>
        <hr>
        <div>
          <h4 class="form-subtitle">
            <%= t('.subtitle.school_data') %>
          </h4>
        </div>
        <div>
          <p class="form_labels"><%= t('.labels.name') %></p>
          <%= text_field_tag 'name',
              nil,
              class: 'form-control',
              required: true %>
          <br>
        </div>
        <div>
          <p class="form_labels"><%= t('.labels.cnpj') %></p>
          <%= text_field_tag 'cnpj',
              nil,
              class: 'form-control short-fields',
              required: true,
              id: 'school_cnpj' %>
          <br>
        </div>
        <div>
          <p class="form_labels"><%= t('.labels.responsible_name') %></p>
          <%= text_field_tag 'responsible_name',
              nil,
              class: 'form-control',
              required: true %>
          <br>
        </div>
        <div>
          <p class="form_labels"><%= t('.labels.responsible_cpf') %></p>
          <%= text_field_tag 'responsible_cpf',
              nil,
              class: 'form-control short-fields',
              required: true,
              id: 'responsible_cpf' %>
          <br>
        </div>
        <div>
          <p class="form_labels"><%= t('.labels.kind') %></p>
          <%= select_tag 'kind',
              options_for_select(school_types),
              class: 'form-control short-fields',
              required: true %>
          <br>
        </div>
        <div>
          <p class="form_labels"><%= t('.labels.postal_code') %></p>
          <div id="loader">
            <%= image_tag 'loader.gif', class: 'hidden-loader', id: 'loader_image' %>
          </div>
          <%= text_field_tag 'postal_code',
              nil,
              class: 'form-control short-fields',
              required: true,
              id: 'school_postal_code' %>
          <br>
        </div>
        <div>
          <p class="form_labels"><%= t('.labels.address') %></p>
          <%= text_field_tag 'address',
              nil,
              class: 'form-control',
              required: true,
              id: 'school_address' %>
          <br>
        </div>
        <div>
          <p class="form_labels"><%= t('.labels.number') %></p>
          <%= text_field_tag 'number',
              nil,
              class: 'form-control short-fields',
              required: true,
              id: 'school_number' %>
          <br>
        </div>
        <div>
          <p class="form_labels"><%= t('.labels.complement') %></p>
          <%= text_field_tag 'complement',
              nil,
              class: 'form-control' %>
          <br>
        </div>
        <div>
          <p class="form_labels"><%= t('.labels.district') %></p>
          <%= text_field_tag 'district',
              nil,
              class: 'form-control',
              required: true,
              id: 'school_district' %>
          <br>
        </div>
        <div>
          <p class="form_labels"><%= t('.labels.city') %></p>
          <%= text_field_tag 'city',
              nil,
              class: 'form-control',
              required: true,
              id: 'school_city' %>
          <br>
        </div>
        <div>
          <p class="form_labels"><%= t('.labels.state') %></p>
          <%= select_tag 'state',
              options_for_select(state_list),
              class: 'form-control short-fields',
              required: true,
              id: 'school_state' %>
          <br>
        </div>
        <div>
          <p class="form_labels"><%= t('.labels.email') %></p>
          <div id="email_message">
            <span id="invalid_email_message" class="hidden-messages error-message">
              <%= t('messages.errors.invalid_field') %>
            </span>
          </div>
          <%= text_field_tag 'email',
              nil,
              class: 'form-control',
              required: true,
              id: 'school_email' %>
          <br>
        </div>
        <div>
          <p class="form_labels"><%= t('.labels.telephone') %></p>
          <%= text_field_tag 'telephone',
              nil,
              class: 'form-control short-fields',
              required: true,
              id: 'school_telephone' %>
          <br>
        </div>
        <div>
          <h4 class="form-subtitle">
            <%= t('.subtitle.user_data') %>
          </h4>
        </div>
        <div>
          <p class="form_labels"><%= t('.labels.user') %></p>
          <div id="user_message">
            <span id="unavailable_school_user" class="hidden-messages error-message">
              <%= t('messages.warning.unavailable_user') %>
            </span>
            <span id="available_school_user" class="hidden-messages success-message">
              <%= t('messages.warning.available_user') %>
            </span>
          </div>
          <%= text_field_tag 'user',
              nil,
              class: 'form-control short-fields',
              required: true,
              id: 'school_user' %>
          <br>
        </div>
        <div>
          <p class="form_labels"><%= t('.labels.password') %></p>
          <div id="complexity_password">
            <span id="fragile_password" class="hidden-messages error-message">
              <%= t('messages.warning.fragile_password') %>
            </span>
            <span id="strong_password" class="hidden-messages success-message">
              <%= t('messages.warning.strong_password') %>
            </span>
          </div>
          <%= password_field_tag 'password',
              nil,
              class: 'form-control short-fields',
              required: true,
              id: 'school_password' %>
          <br>
        </div>
        <div>
          <label class="form_labels">
            <%= t('.labels.confirm_password') %>
          </label>
          <br>
          <input type="password" name="confirm_password" id="confirm_school_password" class="form-control short-fields">
        </div>
        <br>
        <%= submit_tag t('.button.continue'),
                     class: 'form-control btn btn-default form_button',
                     id: 'continue_in_resume_page' %>
        <%= hidden_field_tag 'latitude' %>
        <%= hidden_field_tag 'longitude' %>
        <%= hidden_field_tag 'client_ip' %>
        <hr>
      <% end %>
    </div>
  </div>
</div>
