<%= render './partials/header' %>
<%= render './partials/information_rule', step: @step %>
<div class="container">
   <div class="row">
     <div  style="text-align: center; margin-top: 150px">
       <h4>
         <p><%= t('.thanks_message', plan_name: session[:school_data]['plan']) %></p>
         <br>
         <p><%= t('.sent_email_message', email: session[:school_data]['school']['contact']['email']) %></p>
         <br>
         <p><%= t('.welcome_message') %></p>
       </h4>
     </div>
     <%= @result %>
   </div>
 </div>
</div>
