<%= render './partials/header' %>
<div class='container'>
  <%= render './partials/messages' %>
  <%= render './partials/information_rule', step: @step %>
  <div>
    <h3 class="form-title">
      <%= "Contratação do Plano #{@plan_name}" %>
    </h3>
    <hr>
  </div>
  <div class='row'>
    <div class='col-lg-6 col-lg-offset-2 col-md-6 col-md-offset-2 col-sm-6 col-sm-offset-2 col-xs-12'>
      <section>
        <div>
          <h4 class="form-subtitle">
            <%= t('.subtitle.seller_data') %>
          </h4>
        </div>
        <p><strong><%= t('.labels.seller_id') %></strong><%= session[:school_data]['seller']['id'] %></p>
      </section>
      <hr>
      <section>
        <div>
          <h4 class="form-subtitle">
            <%= t('.subtitle.school_data') %>
          </h4>
        </div>
        <p><strong><%= t('.labels.name') %></strong><%= session[:school_data]['school']['name'] %></p>
        <p><strong><%= t('.labels.cnpj') %></strong><%= session[:school_data]['school']['cnpj'] %></p>
        <p><strong><%= t('.labels.responsible_name') %></strong><%= session[:school_data]['school']['responsible_name'] %></p>
        <p><strong><%= t('.labels.responsible_cpf') %></strong><%= session[:school_data]['school']['responsible_cpf'] %></p>
        <p><strong><%= t('.labels.kind') %></strong><%= session[:school_data]['school']['kind'] %></p>
        <p><strong><%= t('.labels.address') %></strong><%= session[:school_data]['school']['address']['address'] %></p>
        <p><strong><%= t('.labels.number') %></strong><%= session[:school_data]['school']['address']['number'] %></p>
        <p><strong><%= t('.labels.complement') %></strong><%= session[:school_data]['school']['address']['complement'] %></p>
        <p><strong><%= t('.labels.district') %></strong><%= session[:school_data]['school']['address']['district'] %></p>
        <p><strong><%= t('.labels.city') %></strong><%= session[:school_data]['school']['address']['city'] %></p>
        <p><strong><%= t('.labels.state') %></strong><%= session[:school_data]['school']['address']['state'] %></p>
        <p><strong><%= t('.labels.postal_code') %></strong><%= session[:school_data]['school']['address']['postal_code'] %></p>
        <p><strong><%= t('.labels.email') %></strong><%= session[:school_data]['school']['contact']['email'] %></p>
        <p><strong><%= t('.labels.telephone') %></strong><%= session[:school_data]['school']['contact']['telephone'] %></p>
        <p><strong><%= t('.labels.user') %></strong><%= session[:school_data]['school']['access']['user'] %></p>
      </section>
      <hr>
      <section>
        <div>
          <h4 class="form-subtitle">
            <%= "#{t('.subtitle.plan_details')} #{@plan_name}" %>
          </h4>
        </div>
        <table class="table table-striped">
          <th><%= t('.labels.benefits') %></th>
          <% @benefit_list.sort.each do |benefit| %>
            <tr>
              <td><%= benefit.description %></td>
            </tr>
          <% end %>
        </table>
      </section>
      <% if session[:plan_name].present? && session[:school_data].present? %>
        <%= link_to t('.buttons.finish_buy'),
                    checkout_payment_path,
                    class: 'form-control btn btn-default form_button' %>
      <% end %>
      <hr>
    </div>
  </div>
</div>
