<div id="header">
  <%= image_tag 'logotype.png', class: 'header-logo' %>
  <span><%= t('title') %></span>
  <li>
    <ul>
      <%= link_to t('home.links.plans'),
                      root_path(anchor: 'plans') %>
    </ul>
  </li>
</div>
