<div id="plans">
  <h1>
    <%= t('home.texts.plans.title') %>
  </h1>
  <table class="table table-striped">
    <th><%= t('home.table.header.benefit') %></th>
    <%= raw plans_name %>
    <%= raw plans_benefit %>
    <tr>
      <td><%= t('home.texts.plans.monthly_plan') %></td>
      <%= raw plans_price %>
    </tr>
    <tr>
      <td></td>
      <td>
        <%= link_to "#{t('.hire_plan')} #{Plan::BASIC}",
                    controller: 'checkout',
                    action: 'identification',
                    plan: Plan::BASIC.downcase %>
      </td>
      <td>
        <%= link_to "#{t('.hire_plan')} #{Plan::MAX}",
                    controller: 'checkout',
                    action: 'identification',
                    plan: Plan::MAX.downcase %>
      </td>
      <td>
        <%= link_to "#{t('.hire_plan')} #{Plan::PREMIUM}",
                    controller: 'checkout',
                    action: 'identification',
                    plan: Plan::PREMIUM.downcase %>
      </td>
    </tr>
  </table>
</div>
