<%= render '/partials/header' %>
<div id="images-carousel">
  <div id="home" class="carousel slide" style="  overflow:hidden;" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active">
        <div id="technology">
          <h1><%= t('home.texts.technology.title') %></h1>
          <h3><%= t('home.texts.technology.subtitle') %></h3>
          <%= image_tag 'techno_monitoring.png', class: 'principal-image' %>
        </div>
      </div>
      <div class="item">
        <div id="itinerary">
          <h1><%= t('home.texts.itinerary.title') %></h1>
          <h3><%= t('home.texts.itinerary.subtitle') %></h3>
          <%= image_tag 'itinerary.png', class: 'principal-image' %>
        </div>
      </div>
      <div class="item">
        <div id="notification">
          <h1><%= t('home.texts.notification.title') %></h1>
          <h3><%= t('home.texts.notification.subtitle') %></h3>
          <%= image_tag 'notification.png', class: 'principal-image' %>
        </div>
      </div>
      <div class="item">
        <div id="dashboard">
          <h1><%= t('home.texts.dashboard.title') %></h1>
          <h3><%= t('home.texts.dashboard.subtitle') %></h3>
          <%= image_tag 'dashboard.png', class: 'principal-image' %>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#home" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="right carousel-control" href="#home" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Próximo</span>
  </a>
</div>
<div class="container">
  <%= render '/partials/plans' %>
</div>
