#postal_code_loader,
#seller_cpf_loader,
#user_message,
#complexity_password {
  margin: 5px 0px 0px 210px;
  position: absolute;
}

#email_message {
  margin: 5px 0px 0px 560px;
  position: absolute;
}

#seller_not_found {
  margin: 5px 0px 0px 220px;
  position: absolute;
}

#information_rule {
  margin-top: 30px;
}

#information_rule ul {
  list-style: none;
}

#information_rule ul li {
  margin-right: 15px;
  display: inline;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
}

#information_rule ul li span {
  color: #340000;
}

.actived-step {
  border: 1px solid #800000;
  background-color: #800000;
  color: #ffda44;
}

.deactivated-step {
  opacity: 0.4;
  border: 1px solid #ccc;
  background-color: #ccc;
  color: #000;
}

.hidden-loader {
  display: none;
}
