.header {
  height: 50px;
  background-color: #aa0000;
  color: #fff;
}
  .header p {
    margin-right: 30px;
    padding-top: 15px;
    text-align: right;
    font-variant: small-caps;
  }

  .logout {
    color: #fff;
    text-decoration: none !important;
  }
    .logout:hover {
      color: yellow;
    }

.dashboard-user:after {
  content: " | "
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #aa0000;
  color: #fff;
}