#technology,
#itinerary,
#notification,
#dashboard {
  display: flex;
  align-items: center;
  font-family: 'Lato', sans-serif;
  color: #fff;
}

#technology > h1,
#itinerary > h1,
#notification > h1,
#dashboard > h1 {
  z-index: 1;
  margin: 60px 0px 0px 100px;
  position: absolute;
  font-size: 80px;
  font-weight: bold;
}

#technology > h3,
#itinerary > h3,
#notification > h3,
#dashboard > h3 {
  z-index: 1;
  margin: 55px 0px 0px 100px;
  position: absolute;
  padding-top: 150px;
  font-size: 25px;
}

#plans {
  font-family: 'Lato', sans-serif;
}

#plans h1 {
  font-size: 50px;
  font-weight: bold;
  color: #340000;
}

#plans table th:first-child {
  width: 70%;
}

#plans table th:not(:first-child) {
  width: 10%;
  text-align: center;
}

#plans table tr td {
  text-align: center;
}

#plans table tr td a {
  color: #ffda44;
  text-decoration: none;
}

#plans table tr td:nth-child(1) {
  text-align: left;
}

#plans table tr:last-child td:nth-last-child(3),
#plans table tr:last-child td:nth-last-child(2),
#plans table tr:last-child td:nth-last-child(1) {
  border: 1px solid #ccc;
  background-color: #340000;
}

#plans table tr:nth-last-child(2) {
  background-color: #ccc;
}

#plans table tr:last-child td:first-child {
  font-weight: bold;
}

#plans table tr:nth-last-child(2) td:not(:first-child) {
  background-color: #800000;
  border: 1px solid #ccc;
  color: #ffda44;
}

#header,
#footer {
  display: flex;
  background-color: #340000;
  height: 80px;
  align-items: center;
}

#header span {
  margin: 10px 0px 0px 10px;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  color: #ffda44;
}

#header li {
  display: inline;
  margin-top: 30px;
}

#header li ul a {
  font-family: sans-serif;
  font-size: 15px;
  color: #ffda44;
}


#header li ul a {
  font-family: sans-serif;
  font-size: 15px;
  color: #ffda44;
}

#header li ul a:hover {
  text-decoration: none !important;
  color: #fff;
}

#separator {
  margin: 300px 5px 20px 5px;
  border: solid 0.5 px #ccc;
}

#logo {
  display: flex;
  justify-content: center;
}

.logo {
  width: 50px;
  height: 50px;
  padding: 10px;
  opacity: 0.2;
  filter: alpha(opacity = 20)
}

.header-logo {
  margin-left: 100px;
  width: 50px;
  height: 50px;
}

.principal-image {
  max-width: 100%;
  max-height: 100%;
  display: block;
}
