@media only screen and (max-width: 1000px) {
  .notifications-btn {
    width: 100%;
    height: 100px;
    margin: 20px 0px 0px 0px;
    font-size: 30px !important;
    font-variant: small-caps !important;
    color: #fff;
    border-radius: 10px !important;
  }
    .notifications-btn.start {
        background-color: #004e00;
    }
      .notifications-btn.start:hover {
          background-color: #00ff00;
          color:  #fff;
      }
    .notifications-btn.stop {
        background-color: #5e0000;
    }
      .notifications-btn.stop:hover {
          background-color: #ff1a1a;
          color:  #fff;
      }
}

.title{
  font-variant: small-caps;
}

.general_links {
  color: #333;
  text-decoration: none !important;
}

.centered_image {
  text-align: center;
}

.separator {
  display: block;
  height: 1px;
  border: 0;
  border-top: 4px solid #aa0000;
  margin: 1em 0;
  padding: 0;
}

/*FORMS
=====*/

.notifications-btn {
  color: #fff;
}
  .notifications-btn.start {
      background-color: #004e00;
  }
    .notifications-btn.start:hover {
        background-color: #00ff00;
        color:  #fff;
    }
  .notifications-btn.stop {
      background-color: #5e0000;
  }
    .notifications-btn.stop:hover {
        background-color: #ff1a1a;
        color:  #fff;
    }

.labels {
  font-weight: bold;
}

.form-title{
  font-variant: small-caps;
}

.form-subtitle {
  padding-bottom: 30px;
  font-variant: small-caps;
  font-style: italic;
}

.short-fields {
  width: 200px !important;
}

.medium-fields {
  width: 300px !important;
}

.error-message {
  color: red;
}

.success-message {
  color: green;
}

.hidden-messages {
  display: none;
}

.modal-message {
  font-size: x-small;
}

.hidden-field {
  display: none;
}

.loader {
  padding-left: 20px;
}

.hidden-loader {
  display: none;
}

/*Monitoring*/
#map {
  height: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
